<div class="container-fluid status-container">
    <div class="row no-gutters">
        <!-- no of students -->
        <div class="col-3">
            <div class="card-deck">
                <div class="card border-primary mb-3" style="max-width: 18rem; height:20rem;">
                    <br>
                    <h1 class="card-title">Students</h1>
                    <div class="card-body text-center">
                      <p class="card-text">Active Students</p>
                    </div>
                  </div>
            </div>
        </div>
        <!-- no of employers -->
        <div class="col-3">
            <div class="card-deck">
                <div class="card border-success mb-3" style="max-width: 18rem; height:20rem;">
                    <br>
                    <h1 class="card-title">Employers</h1>
                    <div class="card-body text-center">
                      <p class="card-text">Active Employers based on active vacancies</p>
                    </div>
                  </div>
            </div>
        </div>
        <!-- no of placed students -->
        <div class="col-3">
            <div class="card-deck">
                <div class="card border-warning mb-3" style="max-width: 18rem; height:20rem;">
                    <br>
                    <h1 class="card-title">Placed Students</h1>
                    <div class="card-body text-center">
                      <p class="card-text">Placed students number</p>
                    </div>
                  </div>
            </div>
        </div>
        <!-- no of active vacancies -->
        <div class="col-3">
            <div class="card-deck">
                <div class="card w-2 border-danger" style="width: 90%; height:20rem;" >
                    <br>
                    <h1 class="card-title">Active Vacancies</h1>
                    <div class="card-body text-center">
                      <p class="card-text">Current Vacanciesasdasaass    </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>    
</div>